@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body{
    background-color: rgb(48, 44, 44);
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}


#header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
#nav-header{
    font-family: "Inter", sans-serif;
    font-size: 36px;
}
.button-color{
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 15px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding: 57px 190px;
}
.navbar-padding{
    padding: 8px 20px;
    font-size: 18px;
    color: white;
}
#navbar-div2{
    display: flex;
    gap: .7em;
    align-items: center;
    font-family: "Inter", sans-serif;
}
#on-mobile{
    visibility: hidden;
}
#on-pc{
    display: flex;
}
#join-club{
    background-color: rgb(230, 83, 60);
    width: 169px;
    height: 54px;
    border-radius: 40px;
    border: none;
}
#download-app{
    width: 169px;
    height: 54px;
    border-radius: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
}
.button-font{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}
#header-section2{
    padding-left: 190px;
    padding-bottom: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section2-div{
    width: 520px;
    height: 440px;
    padding-top: 69px;
}
#first-p, .paras{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 25px;
    padding-left: 0;
}
#shape{
    font-family: "Style Script", cursive;
}
#section2-div2{
    background-image: url("images/Images\ 2.png");
    width: 349px;
    height: 580px;
    margin-right: 314px;
}
#header-500{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
}
#div-child1{
    width: 193px;
    height: 98px;
    position: absolute;
    left: 1107px;
    top: 360px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 15px;
    text-align: center;
}
#div-child2{
    position: absolute;
    width: 207px;
    height: 96px;
    left: 734px;
    top: 600px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#red-circle{
    background-color: tomato;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    border-radius: 50%;
}
#header-350{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
}
#card-p2{
    color: rgba(239, 237, 232, 0.65);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}
#main-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main-div1-h1{
    color: white;
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
#main-div1-p1{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
#section3{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}
.section-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.section3-div-img{
    border-radius: 50%;
}
.section3-div-h3{
    font-family: Inter;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.section3-div-p{
    width: 231px;
    height: 36px;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
#run-extra-mile{
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: space-around;
    width: 90vw;
    align-items: center;
    margin-left: 4em;
    border-radius: .7em;
    padding-bottom: 2em;
}
#run-extra-mile-h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    width: 7em;
    height: 1.7em;
    text-wrap: wrap;
}
#run-extra-mile-p{
    text-wrap: wrap;
    width: 25em;
    height: 2.3em;
}
#run-extra-mile-div1{
    display: flex;
    flex-direction: column;
}
#run-extra-mile-btn{
    width: 224px;
    height: 54px;
}
#bmi-div1{
    width: 40em;
    text-align: left;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 7em;
}
#bmi-h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
#bmi-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
#bmi-div-with-bg{
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
}
.bmi-h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
}
#bmi-table{
    width: 20em;
    line-height: 170%;
}
th{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
}
td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
#bmi-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 577px;
    height: 48px;
}
form input, form label, form select, form option{
    border-radius: 8px;
    margin: .15em;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    width: 282.5px;
    height: 48px;
}
form label{
    padding: 12px;
}
.sex{
    padding-left: 8em;
    padding-right: 8em;
}
.activity{
    padding-left: 4em;
    padding-right: 4em;
}
form select{
    visibility: hidden;
}
form select:hover{
    margin: 0;
    visibility: visible;
}
select option{
    color: white;
    background-color: black;
}
input::placeholder{
    padding: 10px;
}
#meet-team-div{
    text-align: center;
}
#meet-our-team-h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}
#meet-team-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
#div-of-img{
    display: grid;
    grid-template-columns:repeat(3,350px);
    gap: 1em;
    position: relative;
    left: 11em;
    margin: 5em;
    padding: 1.5em;
    width: 66vw;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
#div-of-img div img{
    border-radius: 12px;
}
#div-of-img div div{
    position: absolute;
}
#div-of-img div div h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1em;
    font-weight: 700;
    padding-left: .5em;
    margin-bottom: 0;
}
#div-of-img div div p{
    color: rgb(225, 223, 223);
    font-family: Inter;
    font-size: .7em;
    font-weight: 500;
    padding-left: .5em;
}
#jerome-bell, #cameroon-willy, #darrell-steward{
    top: 10em;
}
#dianne-russel, #cody-fisher, #theresa-webb{
    top:27em ;
}
#footer-first-h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
}
#footer-first-p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 443px;
    height: 72px;
}
footer div div h3{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
}
#footer-rights{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 3em;
}


@media screen and (max-width:591px) {
    #on-pc{
        display: none;
    }
    #on-mobile{
        visibility: visible;
    }
    .fa-bars{
        color: white;
    }
    #navbar{
        padding: 50px 20px;
    }
    #header-section2{
        display: flex;
        flex-direction: column;
    }
    #section2-div{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    #header-section2-h1{
        margin-top: 0;
        padding-top: 0;
        width: 7em;
        height: 499px;
    }
    #first-p{
        margin-top: 0;
        padding-top: 0;
        width: 19em;
        height: 12em;
    }
    #first-button-div{
        height: 10em;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: start;
    }
    #section2-div2{
        background-image: url("images/Images\ 2.png");
        width: 21em;
        height: 35em;
        background-repeat: no-repeat;
        background-attachment:scroll;
        background-size: cover;
        background-position: center;
    }
    #card-p{
        font-size: medium;
        padding: 0;
    }
    #header-500{
        font-size:29px;
    }
    #div-child1, #div-child2{
        position: relative;
    }
    #div-child1{
        left: 139.2px;
        top: 150.6px;
    }
    #div-child2{
        left: 32px;
        top: 300px;
    }
    main{
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
    }
    #main-div1-h1{
        font-size: 2em;
        width: 318px;
        height: 38px;
    }
    #main-div1-p1{
        font-size: 1em;
        width: 316px;
        height: 72px;
    }
    #section3{
        flex-direction: column;
        background: rgb(45, 41, 41);
    }
    #run-extra-mile{
        flex-direction: column;
        margin:auto;
    }
    #run-extra-mile-div1, #run-extra-mile-div2{
        align-items: center;
    }
    #run-extra-mile-h1{
        font-size: 30px;
        height: 3em;
        padding-bottom: 0;
    }
    #run-extra-mile-p{
        padding: .7em;
        width: 20em;
        height: auto;
        padding-top: 0;
    }
    #run-extra-mile-btn{
        margin: 1em;
        margin-bottom: 1.5em;
    }
    #run-extra-mile-div2 img{
        width: 21em;
    }
    #bmi-section{
        display: flex;
        flex-direction: column;
        padding: .5em;
    }
    #bmi-h1{
        position: relative;
        font-size: 2.3em;
        left: 2em;
    }
    #bmi-p{
        width: 90vw;
        padding-left: 1em;
        height: auto;
    }
    #bmi-div-with-bg{
        display: flex;
        flex-direction: column;
    }
    table{
        position: relative;
        left: 3em;
    }
    #div-of-table{
        justify-content: center;
    }
    form select{
        display: none;
    }
    form select:hover{
        margin: 0;
        display: block;}
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #form-div1, #form-div2{
        display: flex;
        width: 90vw;
    }
     .sex{
        position: relative;
        width: 15.3em;
        padding: 0px 1em;
    }
    .activity{
        width: 16em;
        padding: 0px 3.97em;
    }
    #div-of-img{
        display: flex;
        flex-direction: column;
        left: 2.5em;
        margin: 1em;
        margin-top: 3em;
        margin-bottom: 3em;
        align-items: center;
    }
    #meet-our-team-h1{
        font-size: 2.3em;
    }
    #meet-team-p{
        font-size: .8em;
        width: 80vw;
        padding-left: 40px;
    }
    
    #jerome-bell, #cameroon-willy, #darrell-steward{
        left: 3em;
    }
    #cameroon-willy{
        top: 27em;
    }
    #darrell-steward{
        top: 43em;
    }
    #dianne-russel, #cody-fisher, #theresa-webb{
        left: 3em;
    }
    #dianne-russel{
        top: 59.9em;
    }
    #cody-fisher{
        top: 77em;
    }
    #theresa-webb{
        top: 94em;
    }
    footer{
        position: relative;
        margin: 0;
        padding-left: 3em;
    }
    #footer-div-1{
        display: flex;
        flex-direction: column;
    }
    #footer-div-2{
        display: flex;
        flex-direction: column;
    }
    #footer-first-p{
        width: 65vw;
    }
    footer div hr{
        width: 25em;
        position: relative;
        right: 4em;
    }
    #footer-rights{
        position: relative;
        right: 2.6em;
        width: 16em;
    }


    *{
        overflow-x: hidden;
    }
    
}

